<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pracas's Blog</title>
  </head>
  <body>
    <div>
      <h1><a href="/">Pracas Blog</a></h1>
    </div>
    <div>
      <p>published: 14.06.2020, 12:14</p>
      <h2><a href="">My first blog</a></h2>
      <p>jlsda;dha;d lhasoidhasoidhasoid ladhao oasidhi aiodhasod</p>
    </div>
    <div>
      <p>published: 14.06.2020, 12:14</p>
      <h2><a href="">My first blog</a></h2>
      <p>jlsda;dha;d lhasoidhasoidhasoid ladhao oasidhi aiodhasod</p>
    </div>
  </body>
</html>
